* {
    font-size: 14px;
}

li.item {
    font-size: 36px;
    color: deeppink;
    font-family: sans-serif;
}

.green {
    color: forestgreen;
}

.list .item{
    color: mediumblue;
    font-style: italic;
}

.item.red {
    color: red;
}

ul li.item a{
    font-style: italic;
    font-weight: bold;
    color: saddlebrown;
}
