/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.top-menu__logo img {
    width: 136px;
    height: 28px;
}

.top-menu__nav-list{
    padding: 0px;
}

.top-menu__nav-item{
    display: inline-block;
}

.top-menu{
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    height: 75px;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 3px solid #F1B128;
    align-items: center;
    padding: 22px 0;
}

.top-menu__nav-item a{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #3D3D3D;
    text-decoration: none;
    margin: 35px;
}

.top-menu__nav-item:first-child a{
    margin-left: 0px;
}

.top-menu__nav-item:last-child a{
    margin-right: 0px;
}

.hello{
    background-image: url("../img/hello-bg.jpg");
    height: calc(100vh - 75px);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

.about-us{
    margin-top: 80px;
    /* .mt80 */
}

.description__title {
    margin-bottom: 29px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.description__text {
    font-size: 17px;
    font-family: 'Lato';
    font-weight: 400;
    text-align: center;
    }

.description {
    margin-bottom: 96px;
}

.about-us-content {
    display: flex;
    flex-wrap: wrap;
}

.side-left, .side-right {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 590px;
}

.about-us-content__title {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.about-us-content__text--decorated {
    color: #F1AD1D;
}

.about-us-content__text {
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 36px;
    text-align: justify;
}

.button {
    padding: 19px 27px;
    background-color: #F1AD1D;
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.side-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.about-us-content__img {
    width: 270px;
    height: 148px;
    margin-bottom: 22px;

}

.portfolio{
    padding-top: 100px;
}
.portfolio-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 40px ;
}

.portfolio-filter__button{
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 14px 41px;
    margin: 0 14px;
    border: 1px solid #333333;
    border-radius: 0;
    background-color: transparent;
}

.portfolio-filter__button--active{
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 14px 41px;
    margin: 0 14px;
    border: 1px solid #333333;
    border-radius: 0;
    background: #333333;
    color: #F1AD1D;

}
